@model Trader.Models.ContactViewModels.ContactView

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>
<div>
    <a asp-action="AdminIndex">Back to List</a>
</div>
<div>
    <h4>Enquiry</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.enquiry.UserID)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.enquiry.UserID)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.enquiry.QueryType)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.enquiry.QueryType)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.enquiry.Ts)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.enquiry.Ts)
        </dd>
    </dl>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.messages[0].Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.messages[0].Ts)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.messages) {
        <tr>
			@if(item.FromCustomer)
			{
                <td style="background-color:lightblue">
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
			}
			else
			{
			    <td style="background-color:white">
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
			}
            <td>
                @Html.DisplayFor(modelItem => item.Ts)
            </td>
        </tr>
}
		<tr>
            <td style="background-color:lightblue">
				<form class="form-inline" asp-action="AdminDetails">
					<div class="form-group">
                        <input asp-for="newMessage" class="form-control" />
    				    <button class="btn-primary form-control">Send</button>
						<span asp-validation-for="newMessage" class="text-danger"></span>
					</div>
				</form>
            </td>
            <td>
                @DateTime.Now 
            </td>
        </tr>
    </tbody>
</table>


