@model Trader.Models.TradeImportModels.TradeImport

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>TradeImport</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ExternalReference)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ExternalReference)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Value)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Value)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Quantity)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Quantity)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TransactionDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TransactionDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ImportDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ImportDate)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.TradeImportID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
